@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

@keyframes animateStroke1 {
  0% {
    stroke-dashoffset: 1600;
  }
  20% {
    stroke-dashoffset: 1600;
  }
  50% {
    stroke-dashoffset: 800;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animateStroke2 {
  0% {
    stroke-dashoffset: -1600;
  }
  20% {
    stroke-dashoffset: -1600;
  }
  50% {
    stroke-dashoffset: -800;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

body {
  background: #fff;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 50px; */
  max-width: 100vh;
}
.svg-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}


.shape1,
.shape2 {
  stroke-width: 5px;
  fill: transparent;
  stroke: #282C35;
  border-bottom: 7px solid #fff;
  animation-fill-mode: forwards;
}

.shape1 {
  stroke-dasharray: 1600;
  stroke-dashoffset: 1600;
  animation: animateStroke1 4s linear;
  animation-delay: 0.6s; 
}

.shape2 {
  stroke-dasharray: 1600;
  stroke-dashoffset: -1600;
  animation: animateStroke2 4s linear;
  animation-delay: 0.6s;
}

.text {
  font-family: 'Roboto Condensed';
  font-size: 2.3rem;
  line-height: 32px;
  letter-spacing: 8px;
  color: #282C35;
  position: relative;
  font-weight: 650;
  margin-bottom: 20px;
  text-anchor: middle;
  dominant-baseline: middle;
}

.title {
  font-size: 3rem;
  color: #282C35;
}
.home-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

